header{
    background-color: rgb(233, 242, 242);
    width:100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    color: rgb(76, 76, 219);
    font-size: 40px;
}

.nav a{
    padding-left: 30px;
    font-size: 28px;

}

.nav a:hover{
    color: blueviolet;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    background: url(developer.jpg.jpg) no-repeat;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    color: white;

}

.view{
    color: white;
    background-color: blue;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 40px;
}

.view:hover{
    background-color: rgb(125, 127, 209);
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: blue;
    margin-bottom: 30px;
}

.container{
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: aliceblue;
    box-shadow: 0px 5px 25px black;
    padding: 25px;
    border-radius: 50px;
    margin: 30px;
    transition: 1s;
}

.card:hover{
    background-color: blueviolet;
    color: white;
    transform: scale(1.2,1.2)
}